In [28]:
# Które biuro ma najwięcej kobiet na Juniorskim poziomie doświadczenia ?

import pandas as pd

In [29]:
import os
os.chdir('downloads')

FileNotFoundError: [WinError 2] Det går inte att hitta filen: 'downloads'

In [30]:
os.getcwd()

'C:\\Users\\petri\\downloads'

In [31]:
dataset=pd.read_csv('dataset_pandas_pd.csv', delimiter=',', names=['imie', 'nazwisko', 'rok_urodzenia', 'miesiac_urodzenia', 'dzien_urodzenia', 
'miejsce_urodzenia', 'oddzial_miasto', 'departament', 'rok_zatrudnienia', 'miesiac_zatrudnienia', 'dzien_zatrudnienia',
'doswiadczenie(w_latach)'])
dataset

,imie,nazwisko,rok_urodzenia,miesiac_urodzenia,dzien_urodzenia,miejsce_urodzenia,oddzial_miasto,departament,rok_zatrudnienia,miesiac_zatrudnienia,dzien_zatrudnienia,doswiadczenie(w_latach)
0,Adam,Abacki,1970,3,4,Gdansk,Gdansk,Data Science,2015.0,4,5,20
1,Barbara,Babacka,1971,4,5,Gdynia,Gdansk,Data Science,NaN,5,15,10
2,Celina,Cabacka,1969,6,7,Sopot,Gdansk,Software Development,2013.0,6,25,35
3,Dariusz,Dabacki,1972,8,9,Lublin,Gdansk,HR,2020.0,4,5,4
4,Ewelina,Ebacka,1968,10,11,Warszawa,Gdansk,Accounting,2000.0,7,15,30
5,Ferdynand,Fabacki,1973,11,12,Walbrzych,Gdansk,HR,2001.0,8,25,20
6,Grzegorz,Gabacki,1967,12,13,Gdansk,Gdansk,Software Development,2002.0,4,5,18
7,Halina,Habacka,1974,11,14,Warszawa,Gdansk,Accounting,2003.0,9,15,17
8,Iwona,Ibacka,1966,10,15,Poznan,Gdansk,Sales,2004.0,10,25,16
9,Janusz,Abacki,1975,9,16,Gdynia,Gdansk,Sales,1995.0,11,5,20
10,Karolina,Babacka,1965,8,17,Legnica,Gdansk,Data Science,2005.0,4,15,30
11,Leon,Cabacki,1976,7,18,Wroclaw,Krakow,Data Science,2006.0,4,25,24
12,Michal,Dabacki,1964,6,19,Swinoujscie,Gdansk,HR,2007.0,12,5,21
13,Natalia,Ebacka,1977,5,20,Zakopane,Krakow,HR,2008.0,4,10,20
14,Oskar,Fabacki,1963,4,21,Gdansk,Krakow,Data Science,2009.0,4,25,10
15,Patrycja,Gabacka,1978,3,22,Rzeszow,Krakow,Software Development,2010.0,4,5,9
16,Roman,Abacki,1962,2,23,Lublin,Krakow,Data Science,NaN,5,12,8
17,Stanislawa,Babacka,1979,1,24,Inowroclaw,Krakow,Software Development,2012.0,4,5,7
18,Tomasz,Cabacki,1961,2,25,Bydgoszcz,Krakow,Data Science,2013.0,6,13,6
19,Urszula,Dabacka,1980,3,24,Bydgoszcz,Krakow,Data Science,2014.0,4,14,5
20,Wladyslaw,Ebacki,1960,4,23,Poznan,Krakow,Data Science,2015.0,7,16,15
21,Zofia,Fabacka,1981,5,22,Gdansk,Krakow,HR,NaN,8,25,14
22,Anastazja,Abacka,1990,6,21,Gdansk,Krakow,HR,2017.0,9,25,13
23,Antoni,Abacki,1982,7,20,Warszawa,Krakow,HR,2018.0,10,20,12
24,Beata,Babacka,1991,8,19,Krakow,Krakow,Software Development,2019.0,4,24,11
25,Cezary,Cabacki,1983,9,18,Gdynia,Krakow,Data Science,NaN,4,21,12
26,Daniel,Dabacki,1992,10,17,Gdansk,Krakow,Software Development,1995.0,12,5,10
27,Ewa,Ebacka,1984,11,16,Zakopane,Krakow,Software Development,1996.0,11,15,9
28,Franciszek,Abacki,1993,12,15,Lublin,Krakow,Data Science,1997.0,4,25,8
29,Boleslaw,Babacki,1985,11,14,Katowice,Krakow,Data Science,1998.0,4,25,7
30,Dariusz,Cabacki,1994,10,13,Katowice,Krakow,Accounting,1999.0,9,5,6
31,Mariusz,Dabacki,1986,9,12,Gdansk,Warszawa,Accounting,2019.0,8,5,5
32,Wiktor,Abacki,1995,8,11,Gdansk,Warszawa,Accounting,2018.0,4,15,4
33,Magda,Babacka,1985,7,10,Lublin,Warszawa,Software Development,2017.0,4,12,18
34,Maciej,Cabacki,1994,6,9,Warszawa,Warszawa,Data Science,2016.0,6,11,17
35,Antoni,Abacki,1984,5,8,Ryki,Warszawa,HR,2015.0,5,10,16
36,Bronislaw,Babacki,1993,4,7,Gdansk,Warszawa,HR,2014.0,4,22,15
37,Horacy,Cabacki,1983,3,6,Tarnobrzeg,Warszawa,Data Science,2013.0,4,25,14
38,Alicja,Abacka,1992,2,5,Gdansk,Warszawa,Accounting,NaN,3,15,13
39,Barbara,Babacka,1982,1,4,Sopot,Warszawa,Data Science,NaN,2,5,10

In [32]:
dataset['poziom_doswiadczenia'] = ['Junior' if x<3 else 'Mid' if 4<=x<8 else 'Senior' if 9<=x<12 else 'Ekspert' for x in dataset['doswiadczenie(w_latach)']]
dataset

,imie,nazwisko,rok_urodzenia,miesiac_urodzenia,dzien_urodzenia,miejsce_urodzenia,oddzial_miasto,departament,rok_zatrudnienia,miesiac_zatrudnienia,dzien_zatrudnienia,doswiadczenie(w_latach),poziom_doswiadczenia
0,Adam,Abacki,1970,3,4,Gdansk,Gdansk,Data Science,2015.0,4,5,20,Ekspert
1,Barbara,Babacka,1971,4,5,Gdynia,Gdansk,Data Science,NaN,5,15,10,Senior
2,Celina,Cabacka,1969,6,7,Sopot,Gdansk,Software Development,2013.0,6,25,35,Ekspert
3,Dariusz,Dabacki,1972,8,9,Lublin,Gdansk,HR,2020.0,4,5,4,Mid
4,Ewelina,Ebacka,1968,10,11,Warszawa,Gdansk,Accounting,2000.0,7,15,30,Ekspert
5,Ferdynand,Fabacki,1973,11,12,Walbrzych,Gdansk,HR,2001.0,8,25,20,Ekspert
6,Grzegorz,Gabacki,1967,12,13,Gdansk,Gdansk,Software Development,2002.0,4,5,18,Ekspert
7,Halina,Habacka,1974,11,14,Warszawa,Gdansk,Accounting,2003.0,9,15,17,Ekspert
8,Iwona,Ibacka,1966,10,15,Poznan,Gdansk,Sales,2004.0,10,25,16,Ekspert
9,Janusz,Abacki,1975,9,16,Gdynia,Gdansk,Sales,1995.0,11,5,20,Ekspert
10,Karolina,Babacka,1965,8,17,Legnica,Gdansk,Data Science,2005.0,4,15,30,Ekspert
11,Leon,Cabacki,1976,7,18,Wroclaw,Krakow,Data Science,2006.0,4,25,24,Ekspert
12,Michal,Dabacki,1964,6,19,Swinoujscie,Gdansk,HR,2007.0,12,5,21,Ekspert
13,Natalia,Ebacka,1977,5,20,Zakopane,Krakow,HR,2008.0,4,10,20,Ekspert
14,Oskar,Fabacki,1963,4,21,Gdansk,Krakow,Data Science,2009.0,4,25,10,Senior
15,Patrycja,Gabacka,1978,3,22,Rzeszow,Krakow,Software Development,2010.0,4,5,9,Senior
16,Roman,Abacki,1962,2,23,Lublin,Krakow,Data Science,NaN,5,12,8,Ekspert
17,Stanislawa,Babacka,1979,1,24,Inowroclaw,Krakow,Software Development,2012.0,4,5,7,Mid
18,Tomasz,Cabacki,1961,2,25,Bydgoszcz,Krakow,Data Science,2013.0,6,13,6,Mid
19,Urszula,Dabacka,1980,3,24,Bydgoszcz,Krakow,Data Science,2014.0,4,14,5,Mid
20,Wladyslaw,Ebacki,1960,4,23,Poznan,Krakow,Data Science,2015.0,7,16,15,Ekspert
21,Zofia,Fabacka,1981,5,22,Gdansk,Krakow,HR,NaN,8,25,14,Ekspert
22,Anastazja,Abacka,1990,6,21,Gdansk,Krakow,HR,2017.0,9,25,13,Ekspert
23,Antoni,Abacki,1982,7,20,Warszawa,Krakow,HR,2018.0,10,20,12,Ekspert
24,Beata,Babacka,1991,8,19,Krakow,Krakow,Software Development,2019.0,4,24,11,Senior
25,Cezary,Cabacki,1983,9,18,Gdynia,Krakow,Data Science,NaN,4,21,12,Ekspert
26,Daniel,Dabacki,1992,10,17,Gdansk,Krakow,Software Development,1995.0,12,5,10,Senior
27,Ewa,Ebacka,1984,11,16,Zakopane,Krakow,Software Development,1996.0,11,15,9,Senior
28,Franciszek,Abacki,1993,12,15,Lublin,Krakow,Data Science,1997.0,4,25,8,Ekspert
29,Boleslaw,Babacki,1985,11,14,Katowice,Krakow,Data Science,1998.0,4,25,7,Mid
30,Dariusz,Cabacki,1994,10,13,Katowice,Krakow,Accounting,1999.0,9,5,6,Mid
31,Mariusz,Dabacki,1986,9,12,Gdansk,Warszawa,Accounting,2019.0,8,5,5,Mid
32,Wiktor,Abacki,1995,8,11,Gdansk,Warszawa,Accounting,2018.0,4,15,4,Mid
33,Magda,Babacka,1985,7,10,Lublin,Warszawa,Software Development,2017.0,4,12,18,Ekspert
34,Maciej,Cabacki,1994,6,9,Warszawa,Warszawa,Data Science,2016.0,6,11,17,Ekspert
35,Antoni,Abacki,1984,5,8,Ryki,Warszawa,HR,2015.0,5,10,16,Ekspert
36,Bronislaw,Babacki,1993,4,7,Gdansk,Warszawa,HR,2014.0,4,22,15,Ekspert
37,Horacy,Cabacki,1983,3,6,Tarnobrzeg,Warszawa,Data Science,2013.0,4,25,14,Ekspert
38,Alicja,Abacka,1992,2,5,Gdansk,Warszawa,Accounting,NaN,3,15,13,Ekspert
39,Barbara,Babacka,1982,1,4,Sopot,Warszawa,Data Science,NaN,2,5,10,Senior

In [ ]:
dataset['plec'] = ['Kobieta' if x.endswith('a') else 'Mezczyzna' for x in dataset['imie']]
dataset

In [ ]:
data=dataset[(dataset['poziom_doswiadczenia']=='Senior')&(dataset['plec']=='Kobieta')].groupby('oddzial_miasto').oddzial_miasto.count()
data[data==data.max()]
data.idxmax()