In [1]:
# Posortuj zbi√≥r danych alfabetycznie po nazwiskach, a w ramach jednego nazwiska po roku urodzenia.

import pandas as pd

In [2]:
import os
os.chdir('downloads')

In [3]:
os.getcwd()

'C:\\Users\\petri\\downloads'

In [4]:
dataset=pd.read_csv('dataset_pandas_pd.csv', delimiter=',', names=['imie', 'nazwisko', 'rok_urodzenia', 'miesiac_urodzenia', 'dzien_urodzenia', 
'miejsce_urodzenia', 'oddzial_miasto', 'departament', 'rok_zatrudnienia', 'miesiac_zatrudnienia', 'dzien_zatrudnienia',
'doswiadczenie(w_latach)'])
dataset

,imie,nazwisko,rok_urodzenia,miesiac_urodzenia,dzien_urodzenia,miejsce_urodzenia,oddzial_miasto,departament,rok_zatrudnienia,miesiac_zatrudnienia,dzien_zatrudnienia,doswiadczenie(w_latach)
0,Adam,Abacki,1970,3,4,Gdansk,Gdansk,Data Science,2015.0,4,5,20
1,Barbara,Babacka,1971,4,5,Gdynia,Gdansk,Data Science,NaN,5,15,10
2,Celina,Cabacka,1969,6,7,Sopot,Gdansk,Software Development,2013.0,6,25,35
3,Dariusz,Dabacki,1972,8,9,Lublin,Gdansk,HR,2020.0,4,5,4
4,Ewelina,Ebacka,1968,10,11,Warszawa,Gdansk,Accounting,2000.0,7,15,30
5,Ferdynand,Fabacki,1973,11,12,Walbrzych,Gdansk,HR,2001.0,8,25,20
6,Grzegorz,Gabacki,1967,12,13,Gdansk,Gdansk,Software Development,2002.0,4,5,18
7,Halina,Habacka,1974,11,14,Warszawa,Gdansk,Accounting,2003.0,9,15,17
8,Iwona,Ibacka,1966,10,15,Poznan,Gdansk,Sales,2004.0,10,25,16
9,Janusz,Abacki,1975,9,16,Gdynia,Gdansk,Sales,1995.0,11,5,20
10,Karolina,Babacka,1965,8,17,Legnica,Gdansk,Data Science,2005.0,4,15,30
11,Leon,Cabacki,1976,7,18,Wroclaw,Krakow,Data Science,2006.0,4,25,24
12,Michal,Dabacki,1964,6,19,Swinoujscie,Gdansk,HR,2007.0,12,5,21
13,Natalia,Ebacka,1977,5,20,Zakopane,Krakow,HR,2008.0,4,10,20
14,Oskar,Fabacki,1963,4,21,Gdansk,Krakow,Data Science,2009.0,4,25,10
15,Patrycja,Gabacka,1978,3,22,Rzeszow,Krakow,Software Development,2010.0,4,5,9
16,Roman,Abacki,1962,2,23,Lublin,Krakow,Data Science,NaN,5,12,8
17,Stanislawa,Babacka,1979,1,24,Inowroclaw,Krakow,Software Development,2012.0,4,5,7
18,Tomasz,Cabacki,1961,2,25,Bydgoszcz,Krakow,Data Science,2013.0,6,13,6
19,Urszula,Dabacka,1980,3,24,Bydgoszcz,Krakow,Data Science,2014.0,4,14,5
20,Wladyslaw,Ebacki,1960,4,23,Poznan,Krakow,Data Science,2015.0,7,16,15
21,Zofia,Fabacka,1981,5,22,Gdansk,Krakow,HR,NaN,8,25,14
22,Anastazja,Abacka,1990,6,21,Gdansk,Krakow,HR,2017.0,9,25,13
23,Antoni,Abacki,1982,7,20,Warszawa,Krakow,HR,2018.0,10,20,12
24,Beata,Babacka,1991,8,19,Krakow,Krakow,Software Development,2019.0,4,24,11
25,Cezary,Cabacki,1983,9,18,Gdynia,Krakow,Data Science,NaN,4,21,12
26,Daniel,Dabacki,1992,10,17,Gdansk,Krakow,Software Development,1995.0,12,5,10
27,Ewa,Ebacka,1984,11,16,Zakopane,Krakow,Software Development,1996.0,11,15,9
28,Franciszek,Abacki,1993,12,15,Lublin,Krakow,Data Science,1997.0,4,25,8
29,Boleslaw,Babacki,1985,11,14,Katowice,Krakow,Data Science,1998.0,4,25,7
30,Dariusz,Cabacki,1994,10,13,Katowice,Krakow,Accounting,1999.0,9,5,6
31,Mariusz,Dabacki,1986,9,12,Gdansk,Warszawa,Accounting,2019.0,8,5,5
32,Wiktor,Abacki,1995,8,11,Gdansk,Warszawa,Accounting,2018.0,4,15,4
33,Magda,Babacka,1985,7,10,Lublin,Warszawa,Software Development,2017.0,4,12,18
34,Maciej,Cabacki,1994,6,9,Warszawa,Warszawa,Data Science,2016.0,6,11,17
35,Antoni,Abacki,1984,5,8,Ryki,Warszawa,HR,2015.0,5,10,16
36,Bronislaw,Babacki,1993,4,7,Gdansk,Warszawa,HR,2014.0,4,22,15
37,Horacy,Cabacki,1983,3,6,Tarnobrzeg,Warszawa,Data Science,2013.0,4,25,14
38,Alicja,Abacka,1992,2,5,Gdansk,Warszawa,Accounting,NaN,3,15,13
39,Barbara,Babacka,1982,1,4,Sopot,Warszawa,Data Science,NaN,2,5,10

In [5]:
dataset.sort_values(by=['nazwisko', 'rok_urodzenia'])[['nazwisko', 'rok_urodzenia']]

   nazwisko  rok_urodzenia
22   Abacka           1990
38   Abacka           1992
16   Abacki           1962
0    Abacki           1970
9    Abacki           1975
23   Abacki           1982
35   Abacki           1984
28   Abacki           1993
32   Abacki           1995
10  Babacka           1965
1   Babacka           1971
17  Babacka           1979
39  Babacka           1982
33  Babacka           1985
24  Babacka           1991
29  Babacki           1985
36  Babacki           1993
2   Cabacka           1969
18  Cabacki           1961
11  Cabacki           1976
25  Cabacki           1983
37  Cabacki           1983
30  Cabacki           1994
34  Cabacki           1994
19  Dabacka           1980
12  Dabacki           1964
3   Dabacki           1972
31  Dabacki           1986
26  Dabacki           1992
4    Ebacka           1968
13   Ebacka           1977
27   Ebacka           1984
20   Ebacki           1960
21  Fabacka           1981
14  Fabacki           1963
5   Fabacki           1973
15  Gabacka           1978
6   Gabacki           1967
7   Habacka           1974
8    Ibacka           1966